<div class='center hero-unit'>
	<h1>QA Projects Home</h1>

	<h2>
		This site is for GameSalad employees only.
		Please sign in below.
	</h2>

	<%= link_to "Sign In", signin_path, class: "btn btn-large btn-primary" %>
</div>
