<% provide(:title, "Sign In") %>
<h1>Sign In</h1>
<div class='row'>
	<div class='span6 offset3'>
		<%= form_for(:session, url: signin_path, method: :post) do |f| %>
			<%= f.label :username %>
			<%= f.text_field :username %>
			<%= f.label :password %>
			<%= f.password_field :password %>
			<%= f.submit "Sign In" %>
		<% end %>
	</div>
</div>
