<% provide(:title, "Sign In") %>
<h1>Sign In</h1>
<div class='row'>
	<div class='span6 offset3'>
		<%= form_tag(users_path, method: "post") do %>
			<%= label_tag :username %>
			<%= text_field_tag :username %>

			<%= label_tag :password %>
			<%= password_field_tag :password %>

			<%= submit_tag "Sign In", class: 'btn btn-large brn-primary' %>
		<% end %>
	</div>
</div>
