<footer class='footer'>
	<div class='container'>
		<small>
			Made for
			<a href='http://gamesalad.com'>GameSalad</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "Contact",		"#" %></li>
			</ul>
		</nav>
	</div>
</footer>
